*{
	font-family: 'Josefin Sans', sans-serif;
	font:normal 500 15px/2px;
}


/* style nav*/
.navbar{
	background-color:#acb7ae;
}

.nav-item .nav-link{
	font-weight: 100;
	padding: 0.2cm;
	font-size: 25px;
	color:#2c2c2c;
}

.navbar-nav .active a{
	background:linear-gradient(90deg, rgba(153,36,212,1) 0%, rgba(108,230,226,1) 18%, rgba(49,64,148,1) 34%, rgba(40,169,48,1) 50%, rgba(242,236,17,1) 68%, rgba(233,172,47,1) 85%, rgba(255,29,0,1) 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip:text;

}


.navbar-nav a:hover{
	background:#ce9e62;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip:text;

}

/*banner area*/
.site-main{
	background-color:#acb7ae;
}

.site-main .container{
	padding-top: 7rem;
}


.site-main .site-banner{
	background-color: #7b7b7b;
  
    padding: 2rem 4rem;


}

.site-main .site-banner .site-title h3{
	padding-top: 35%;
	font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
	content: "";
	height: 2px;
	width: 18vw;
	display:inline block;
	margin-left:5%;
	transform:translateY(-10px);
}

.site-main .site-banner .site-title h4{
	font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img{
	padding:-4rem -3rem;
	width: 40rem;


}
  .button{
  	padding: .8rem 2.2rem;
  	font:normal 500 16px/20px;
  	position: relative;
  	border: 3px solid transparent;
  	border-radius: 4px;
  }

  .button.primary-button{
  	background:#4b6777;

  	background-clip:padding-box;
  	color: whitesmoke;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button.primary-button:hover{
  	background:whitesmoke;
  	background-clip:padding-box;
  	color: black;
  }

  .button.primary-button::after,.button.secondary-button::after{
  	position: absolute;
  	top:-2px;
  	left;-2px;
  	bottom:-2px;
  	right:-2px;
  	background:#fef6dd;
  	content:;
  	z-index: -1;
  	border-radius: 4px;
  }

  .button.secondary-button{
  	background:white;
  	background-clip: padding-box;
  	transition: background .6s ease;

  }

  .button.secondary-button:hover{
  	background:#4b6777;
  	color: whitesmoke;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


  /*about area*/
   .about-area{
  	padding: 8rem 5rem;
  	padding-top: 10%;
  }

  .about-area .about-title h2>span{
  	display: block;
    margin-left: 10%;
  	font:normal bold 49px/60px;
  	letter-spacing: 20px;
  }


  .about-area .about-title .paragraph>p{
  	padding:-4rem 0;
  	margin-left: 10%;
  }

  .about-area .about-image>img{
   padding-top: 15%;
	width: 40rem;
  }

  .about-area .about-title{
  	text-align: justify;

  	padding:-4rem 0;
  }

  .mentor-area .carousel-slide 


  /*services area*/
  .site-main .services-area{
  	padding:0rem 2 rem;
  }

  .site-main .services-area .services-title{
  	padding:0rem 0rem;
  }

.site-main .services-area .services-title h1{
	font-size: 45px;
}

 .site-main .services-area .services
 {
 	background: rgba(248,252,253,0.973);
 	padding: 1rem 1.5rem;
 	width: 15rem;
 	margin-left: 5rem .5rem;
 	transition:box-shadow .7s ease;

 }

 .site-main>.services-area .services:hover{
 	box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

 }

 /*project area*/

 .interest-area{
 	padding: 2rem 0rem;
 }

 

 .interest-area .grid .our-interest>title h4{
 	padding: 1rem 1rem;
 	font:normal 700 25px/12px;
 }

  .mentor-area .slide .carousel-inner .carousel-item .carousel-caption h4{
  	font:normal 900 40px/20px;
  	padding: 1rem 1rem;
  	color: black;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	background:rgb(191, 191, 191);
  }

  .mentor-area .slide .carousel-inner{
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  	background: rgb(140, 140, 140);

  }
 

/*subscribe me*/
 .subscribe-us-area .subscribe{
 	background: rgb(115, 115, 115);
 	padding:8rem 0;
 	margin: 5rem auto;
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 .subscribe-us-area .subscribe .subscribe-title h4{
 	font:normal 1000 30px/30px;
 	font-size: 20px;
 	color: whitesmoke;
 }

  .subscribe-us-area .subscribe .subscribe-title p{
  	color: whitesmoke;
  	padding: 1rem 4rem;
  }

  .subscribe-us-area .subscribe form .input-textbook .form-control {
  	width: 400px;
  	padding: 1.5rem 1rem;
  	border: 1px solid whitesmoke;
  	background:transparent;
  	color: black;
  	font:whitesmoke;

  }

  .subscribe-us-area .subscribe form .input-textbook input::placeholder{
  	color: whitesmoke;
  }

  .subscribe-us-area .subscribe form .btn-submit button{
  	background: whitesmoke;
  	padding: .7rem 2rem;
  	color:black;
  }

  /*footer-area*/
  .footer-area{
  	padding: 5rem 5rem;
  	background-color: rgb(242, 242, 242);
    opacity: 0.8;
  }

  .footer-area .social h5{
  	font:normal 500 23px/30px;
  }